/* global */
h2,
p{
    font-family: 'Comfortaa', cursive;

}

#brand-name,
label {
    font-family: 'Permanent Marker', cursive;
}

.header {
    background-color: hsla(0, 0%, 0%, .5);
    color: whitesmoke;
    height: 5em;
    width: 40vw;
    display: flex;
    gap: 15px;
    justify-content: center;
}

img.bike-icon {
    max-width: 100px;
    filter: invert(100%);
  }

#brand-name {
    margin-top: 10px;
}

.image-container{
    background-image: url("assets/honbike-h3J5fReb6tY-unsplash.jpeg");
    background-size: cover;
    height: 100vh;
    position: relative;
    float:left;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-credit{
    background-color: hsla(0, 0%, 0%, .5);
    /* background-color: black; */
    color: white;
    position: absolute;
    border-radius: 10px;
    padding: .25em 1em;
    bottom: 10px;
    left: 15px;
    font-size:.75rem;
}

.form-section{
    background-color: rgb(221, 221, 221);
    height: 100vh;
}

.form-container{
    background-color: whitesmoke;

}

form{
    /* font-family: 'Anton', sans-serif; */

    position: relative;
    margin-top: 3.5rem;
    padding: 1.5rem;
    max-width: 550px;

    /* grid */

    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 10em 1em 1em 1em; */
}


label {
    display: block;
    color: rgb(255, 43, 43);
}

button {
    background-color: rgb(255, 43, 43);
    color: whitesmoke;
    max-width: 150px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

form button{
    font-family: 'Comfortaa', cursive; 
    letter-spacing: .25em;
    text-transform: uppercase;
    font-size: 1.2rem;
}

input:focus {
    border: 3px solid green;
}

input {
    box-shadow: 5px 10px 2px -5px rgba(165, 164, 164, .25); 
}

.button:hover {
    opacity: 1;
    border: 3px black solid;
}